<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    引入外部配置文件-->
<properties resource="db.properties"></properties>
<!--    setting 设置-->
<settings>
    <setting name="logImpl" value="LOG4J"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="cacheEnabled" value="true"/>
</settings>
<!--别名-->
<typeAliases>
    <package name="zzt.pro"/>

</typeAliases>
<environments default="development">
    <environment id="development">
        <transactionManager type="JDBC"/>
        <dataSource type="POOLED">
            <property name="driver" value="${driver}"/>
            <property name="url" value="${url}"/>
            <property name="username" value="${username}"/>
            <property name="password" value="${password}"/>
        </dataSource>
    </environment>
</environments>
<mappers>
    <!--<mapper resource="zzt/Dao/UserMapper.xml"/>-->
    <!--<mapper class="zzt.Dao.UserMapper"></mapper>
    <mapper class="zzt.Dao.TeacherMapper"></mapper>
    <mapper class="zzt.Dao.StudentMapper"></mapper>-->
    <package name="zzt.Dao"/>
</mappers>
</configuration>