<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zzt.Dao.StudentMapper">
    <cache></cache>
 <!--   <resultMap id="student" type="Student">
    <result property="id" column="sid"></result>
    <result property="name" column="sname"></result>
    <association property="teacher"  javaType="Teacher">
        <result property="name" column="tname"></result>
    </association>
</resultMap>-->
         <select id="getAllStudent" resultType="student" useCache="true">
              select  * from mybatis.student
         </select>
    <select id="getStudentIn" resultType="Student">
        select  * from mybatis.student
        where  id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>